@CHARSET "UTF-8";

/* Table */
.sm-sortable-table {
  width: 100%;
  background: #ffffff;
  margin: 1em 0em;
  border: 1px solid #d0d0d0;
  box-shadow: none;
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 0.8);
  border-collapse: separate;
  border-spacing: 0px;
}

.sm-sortable-table thead th {
  cursor: pointer;
  white-space: nowrap;
  border-left: 1px solid #d0d0d0;
  color: rgba(0, 0, 0, 0.8);  
  background: #f0f0f0;
  text-align: left;
  padding: 0.7em 0.8em;
  vertical-align: middle;
  font-style: none;
  font-weight: bold;
  text-transform: none;
  border-bottom: 1px solid #d4d4d5;
}

.sm-sortable-table thead th:after {
  display: inline-block;
  content: '';
  width: 1em;
  height: 1em;
  opacity: 0.8;
  margin: 0em 0em 0em 0.5em;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.sm-sortable-table thead th.ascending:after {
  content: '\f0d7';
}

.sm-sortable-table thead th.descending:after {
  content: '\f0d8';
}

.sm-sortable-table thead th:first-child {
  border-radius: 0.25rem 0em 0em 0em;
}

.sm-sortable-table tr td {
  border-top: 1px solid #d4d4d5;
}

.sm-sortable-table tr:first-child td {
  border-top: none;
}

.sm-sortable-table td:first-child {
  border-left: none;
}

.sm-sortable-table tr td {
  border-top: 1px solid #d4d4d5;
  padding: 0.7em 0.8em;
  text-align: left;
  vertical-align: middle;
  transition: all 0.2s ease;
  border-left: 1px solid #d4d4d5;
}

/* Loader */
.sm-loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0px;
  text-align: center;
  z-index: 1000;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 2.2585em;
  height: 2.2585em;
  font-size: 1em;
}

.sm-loader:before, .sm-loader:after {
  width: 2.2585em;
  height: 2.2585em;
  margin: 0em 0em 0em -1.12925em;
}

.sm-loader:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 500rem;
  border: 0.2em solid rgba(0, 0, 0, 0.1);
}

.sm-loader:after {
  position: absolute;
  content: '';
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-animation: smloader 0.6s linear;
  animation: smloader 0.6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #aaaaaa transparent transparent;
  border-style: solid;
  border-width: 0.2em;
  box-shadow: 0px 0px 0px 1px transparent;
}

@-webkit-keyframes smloader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes smloader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.sm-loader.active {
  display: block;
}

.sm-loader.disabled {
  display: none;
}

/* Frames */

.sm-frame {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding: 1em 1em;
  border-radius: 0.2857rem;
  border: none;
}

.black.sm-frame {
  border-top: 2px solid #1b1c1d;
}

.blue.sm-frame {
  border-top: 2px solid #3b83c0;
}

.green.sm-frame {
  border-top: 2px solid #5bbd72;
}

.orange.sm-frame {
  border-top: 2px solid #e07b53;
}

.pink.sm-frame {
  border-top: 2px solid #d9499a;
}

.purple.sm-frame {
  border-top: 2px solid #564f8a;
}

.red.sm-frame {
  border-top: 2px solid #d95c5c;
}

.teal.sm-frame {
  border-top: 2px solid #00b5ad;
}

.yellow.sm-frame {
  border-top: 2px solid #f2c61f;
}

.black.sm-frame {
  border-top-left-radius: 0.2857rem !important;
  border-top-right-radius: 0.2857rem !important;
}

.blue.sm-frame {
  border-top-left-radius: 0.2857rem !important;
  border-top-right-radius: 0.2857rem !important;
}

.green.sm-frame {
  border-top-left-radius: 0.2857rem !important;
  border-top-right-radius: 0.2857rem !important;
}

.orange.sm-frame {
  border-top-left-radius: 0.2857rem !important;
  border-top-right-radius: 0.2857rem !important;
}

.pink.sm-frame {
  border-top-left-radius: 0.2857rem !important;
  border-top-right-radius: 0.2857rem !important;
}

.purple.sm-frame {
  border-top-left-radius: 0.2857rem !important;
  border-top-right-radius: 0.2857rem !important;
}

.red.sm-frame {
  border-top-left-radius: 0.2857rem !important;
  border-top-right-radius: 0.2857rem !important;
}

.teal.sm-frame {
  border-top-left-radius: 0.2857rem !important;
  border-top-right-radius: 0.2857rem !important;
}

.yellow.sm-frame {
  border-top-left-radius: 0.2857rem !important;
  border-top-right-radius: 0.2857rem !important;
}



/*
 * Stock quote style 1
 */

.sm-frame {
  text-align: center;
}

.sm-frame .sm-symbol {
  font-size: 1.8em;
  line-height: 1.5em;
}

.sm-frame .sm-company {
  font-size: 1.1em;
  color: #A5A5A5;
}

.sm-frame .sm-quote {
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.9em;
}

.sm-frame .arrow {
  font-size: 1.2em;
}

/*
 * Stock quote style 2
 */

.sm-frame2 {
  padding: 1em;
  background: #fff;
  text-align: left;
}

.sm-frame2 .sm-company {  
  color: #555;
  font-size: 0.9375em;
}

.sm-frame2 .sm-symbol {
  color: #000;
  font-size: 2.25em;
  line-height: 1.5em;
  font-weight: bold;  
}

.sm-frame2 .sm-quote {
  margin-left: -5px;
  font-size: 2.2em;
}

.sm-frame2 .sm-quote-div {
  display: inline-block;
  line-height: 1.5em;
}

.sm-frame2 .sm-quote-div i {
  font-size: 1.8em;
}

.sm-frame2 .sm-change-div {
  color: #999;
  text-align: right;
  display: inline-block;
  float: right;
  margin-top: -0.6em;
}

/*
 * Stock quote style 3
 */

.sm-frame3 {
  padding: 1em;
  background: #000;
  text-align: left;
}

.sm-frame3 .sm-company {
  color: #CACACA;
  font-size: 0.9375em;
}

.sm-frame3 .sm-symbol {
  color: #fff;
  font-size: 2.25em;
  line-height: 1.5em;
  font-weight: bold;
}

.sm-frame3 .sm-quote {
  color: #fff;
  margin-left: -5px;
  font-size: 2.2em;
}

.sm-frame3 .sm-quote-div {
  display: inline-block;
  line-height: 1.5em;
}

.sm-frame3 .sm-quote-div i {
  font-size: 1.8em;
}

.sm-frame3 .sm-change-div {
  color: #999;
  text-align: right;
  display: inline-block;
  float: right;
  margin-top: -0.6em;
}


/*
 * Stock ticker widget - General
 */
.sm-marquee {
  overflow: hidden; 
}

/*
 * Stock ticker 
 */
.sm-widget {
  position:relative;
}
.sm-widget .date{
    color: #000;
    font-size: 1.2em;
    margin-top: 15px;
    font-weight: bold;
}

.sm-widget-ticker {
  cursor: pointer;
}

.sm-widget-ticker .sm-quote {
  font-weight: bold;
}

.sm-widget-ticker .caret {
  margin: 0;
  border: 0;
}

.sm-widget-ticker .sm-company {
  margin-left: 1.5rem;
  border-bottom: 1px dotted #555;
}

/*
 * News widget 
 */

.sm-widget-news {
  
}

.sm-widget-news .sm-news-date {
  margin-bottom: 5px;
  color: #999;
}

.sm-widget-news .sm-news-link {
  margin-top: 10px;
}

.sm-widget-news {
  
}


/*
 * Stock quote card style
 */
.sm-card {
  max-width: 100%;
  padding: 1em 1em;
  position: relative;
  display: block;
  width: 290px;
  min-height: 0px;
  background: #ffffff;
  border: none;
  border-radius: 0.2857rem;
  box-shadow: 0px 0.2em 0px 0px #d4d4d5, 0px 0px 0px 1px #d4d4d5;
  -webkit-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  text-align: center;
}

.sm-card .sm-symbol {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: -0.165em;
  line-height: 1.33em;
}

.sm-card .sm-company {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.4);
}

.sm-card .sm-quote-div {
  margin-top: 0.5em;
  color: rgba(0, 0, 0, 0.4);
}

.sm-card .sm-quote {
  font-size: 1.7rem;  
}

.sm-card .sm-change {
  font-size: 1rem;
  margin-left: 5px;  
}

/*
 * Static image chart
 */
.sm-widget-static-chart img {
  width: 95%;
}


/*
 * Odometer CSS
 */
.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  position: relative;
}
.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  *display: inline;
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-default .odometer-digit {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-default .odometer-digit {
  *display: inline;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
  *display: inline;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
  display: block;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-default .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
  position: absolute;
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.1em;
}
.odometer.odometer-auto-theme .odometer-value, .odometer.odometer-theme-default .odometer-value {
  text-align: center;
}


 /*
 * # Semantic UI
 * https://github.com/Semantic-Org/Semantic-UI
 * http://www.semantic-ui.com/
 *
 * Copyright 2014 Contributors
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */

@font-face {
  font-family: 'Icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format('embedded-opentype'), url("../fonts/icons.svg#icons") format('svg'), url("../fonts/icons.woff") format('woff'), url("../fonts/icons.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}
i.sm-icon {
  display: inline-block;
  opacity: 1;
  margin: 0em 0.25rem 0em 0em;
  width: 1.23em;
  height: 0.9em;
  font-family: 'Icons';
  font-style: normal;
  line-height: 1;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
i.sm-icon:before {
  background: none !important;
}

/*-------------------
       Colors
--------------------*/

i.white.sm-icon {
  color: #ffffff !important;
}
i.black.sm-icon {
  color: #1b1c1d !important;
}
i.blue.sm-icon {
  color: #3b83c0 !important;
}
i.green.sm-icon,
span.green {
  color: #5bbd72 !important;
}
i.orange.sm-icon {
  color: #e07b53 !important;
}
i.pink.sm-icon {
  color: #d9499a !important;
}
i.purple.sm-icon {
  color: #564f8a !important;
}
i.red.sm-icon,
span.red {
  color: #d95c5c !important;
}
i.teal.sm-icon {
  color: #00b5ad !important;
}
i.yellow.sm-icon {
  color: #f2c61f !important;
}

/*
 * ICONS
 */

i.sm-icon.arrow.up:before {
  content: "\f062";
}
i.sm-icon.arrow.down:before {
  content: "\f063";
}
i.sm-icon.caret.down:before {
  content: "\f0d7";
}
i.sm-icon.caret.up:before {
  content: "\f0d8";
}

i.sm-flag:not(.icon) {
  display: inline-block;
  width: 16px;
  height: 11px;
  line-height: 11px;
  vertical-align: baseline;
  margin: 0em 0.5em 0em 0em;
  text-decoration: inherit;
  speak: none;
  font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
i.sm-flag:not(.icon):before {
  display: inline-block;
  content: '';
  background: url("../images/flags.png") no-repeat 0px 0px;
  width: 16px;
  height: 11px;
}

/* Flag Sprite Based On http://www.famfamfam.com/lab/icons/flags/ */

/*******************************
        FLAGS
*******************************/

i.sm-flag.ad:before,
i.sm-flag.andorra:before {
  background-position: 0px 0px;
}
i.sm-flag.ae:before,
i.sm-flag.united.arab.emirates:before,
i.sm-flag.uae:before {
  background-position: 0px -26px;
}
i.sm-flag.af:before,
i.sm-flag.afghanistan:before {
  background-position: 0px -52px;
}
i.sm-flag.ag:before,
i.sm-flag.antigua:before {
  background-position: 0px -78px;
}
i.sm-flag.ai:before,
i.sm-flag.anguilla:before {
  background-position: 0px -104px;
}
i.sm-flag.al:before,
i.sm-flag.albania:before {
  background-position: 0px -130px;
}
i.sm-flag.am:before,
i.sm-flag.armenia:before {
  background-position: 0px -156px;
}
i.sm-flag.an:before,
i.sm-flag.netherlands.antilles:before {
  background-position: 0px -182px;
}
i.sm-flag.ao:before,
i.sm-flag.angola:before {
  background-position: 0px -208px;
}
i.sm-flag.ar:before,
i.sm-flag.argentina:before {
  background-position: 0px -234px;
}
i.sm-flag.as:before,
i.sm-flag.american.samoa:before {
  background-position: 0px -260px;
}
i.sm-flag.at:before,
i.sm-flag.austria:before {
  background-position: 0px -286px;
}
i.sm-flag.au:before,
i.sm-flag.australia:before {
  background-position: 0px -312px;
}
i.sm-flag.aw:before,
i.sm-flag.aruba:before {
  background-position: 0px -338px;
}
i.sm-flag.ax:before,
i.sm-flag.aland.islands:before {
  background-position: 0px -364px;
}
i.sm-flag.az:before,
i.sm-flag.azerbaijan:before {
  background-position: 0px -390px;
}
i.sm-flag.ba:before,
i.sm-flag.bosnia:before {
  background-position: 0px -416px;
}
i.sm-flag.bb:before,
i.sm-flag.barbados:before {
  background-position: 0px -442px;
}
i.sm-flag.bd:before,
i.sm-flag.bangladesh:before {
  background-position: 0px -468px;
}
i.sm-flag.be:before,
i.sm-flag.belgium:before {
  background-position: 0px -494px;
}
i.sm-flag.bf:before,
i.sm-flag.burkina.faso:before {
  background-position: 0px -520px;
}
i.sm-flag.bg:before,
i.sm-flag.bulgaria:before {
  background-position: 0px -546px;
}
i.sm-flag.bh:before,
i.sm-flag.bahrain:before {
  background-position: 0px -572px;
}
i.sm-flag.bi:before,
i.sm-flag.burundi:before {
  background-position: 0px -598px;
}
i.sm-flag.bj:before,
i.sm-flag.benin:before {
  background-position: 0px -624px;
}
i.sm-flag.bm:before,
i.sm-flag.bermuda:before {
  background-position: 0px -650px;
}
i.sm-flag.bn:before,
i.sm-flag.brunei:before {
  background-position: 0px -676px;
}
i.sm-flag.bo:before,
i.sm-flag.bolivia:before {
  background-position: 0px -702px;
}
i.sm-flag.br:before,
i.sm-flag.brazil:before {
  background-position: 0px -728px;
}
i.sm-flag.bs:before,
i.sm-flag.bahamas:before {
  background-position: 0px -754px;
}
i.sm-flag.bt:before,
i.sm-flag.bhutan:before {
  background-position: 0px -780px;
}
i.sm-flag.bv:before,
i.sm-flag.bouvet.island:before {
  background-position: 0px -806px;
}
i.sm-flag.bw:before,
i.sm-flag.botswana:before {
  background-position: 0px -832px;
}
i.sm-flag.by:before,
i.sm-flag.belarus:before {
  background-position: 0px -858px;
}
i.sm-flag.bz:before,
i.sm-flag.belize:before {
  background-position: 0px -884px;
}
i.sm-flag.ca:before,
i.sm-flag.canada:before {
  background-position: 0px -910px;
}
i.sm-flag.cc:before,
i.sm-flag.cocos.islands:before {
  background-position: 0px -962px;
}
i.sm-flag.cd:before,
i.sm-flag.congo:before {
  background-position: 0px -988px;
}
i.sm-flag.cf:before,
i.sm-flag.central.african.republic:before {
  background-position: 0px -1014px;
}
i.sm-flag.cg:before,
i.sm-flag.congo.brazzaville:before {
  background-position: 0px -1040px;
}
i.sm-flag.ch:before,
i.sm-flag.switzerland:before {
  background-position: 0px -1066px;
}
i.sm-flag.ci:before,
i.sm-flag.cote.divoire:before {
  background-position: 0px -1092px;
}
i.sm-flag.ck:before,
i.sm-flag.cook.islands:before {
  background-position: 0px -1118px;
}
i.sm-flag.cl:before,
i.sm-flag.chile:before {
  background-position: 0px -1144px;
}
i.sm-flag.cm:before,
i.sm-flag.cameroon:before {
  background-position: 0px -1170px;
}
i.sm-flag.cn:before,
i.sm-flag.china:before {
  background-position: 0px -1196px;
}
i.sm-flag.co:before,
i.sm-flag.colombia:before {
  background-position: 0px -1222px;
}
i.sm-flag.cr:before,
i.sm-flag.costa.rica:before {
  background-position: 0px -1248px;
}
i.sm-flag.cs:before,
i.sm-flag.serbia:before {
  background-position: 0px -1274px;
}
i.sm-flag.cu:before,
i.sm-flag.cuba:before {
  background-position: 0px -1300px;
}
i.sm-flag.cv:before,
i.sm-flag.cape.verde:before {
  background-position: 0px -1326px;
}
i.sm-flag.cx:before,
i.sm-flag.christmas.island:before {
  background-position: 0px -1352px;
}
i.sm-flag.cy:before,
i.sm-flag.cyprus:before {
  background-position: 0px -1378px;
}
i.sm-flag.cz:before,
i.sm-flag.czech.republic:before {
  background-position: 0px -1404px;
}
i.sm-flag.de:before,
i.sm-flag.germany:before {
  background-position: 0px -1430px;
}
i.sm-flag.dj:before,
i.sm-flag.djibouti:before {
  background-position: 0px -1456px;
}
i.sm-flag.dk:before,
i.sm-flag.denmark:before {
  background-position: 0px -1482px;
}
i.sm-flag.dm:before,
i.sm-flag.dominica:before {
  background-position: 0px -1508px;
}
i.sm-flag.do:before,
i.sm-flag.dominican.republic:before {
  background-position: 0px -1534px;
}
i.sm-flag.dz:before,
i.sm-flag.algeria:before {
  background-position: 0px -1560px;
}
i.sm-flag.ec:before,
i.sm-flag.ecuador:before {
  background-position: 0px -1586px;
}
i.sm-flag.ee:before,
i.sm-flag.estonia:before {
  background-position: 0px -1612px;
}
i.sm-flag.eg:before,
i.sm-flag.egypt:before {
  background-position: 0px -1638px;
}
i.sm-flag.eh:before,
i.sm-flag.western.sahara:before {
  background-position: 0px -1664px;
}
i.sm-flag.er:before,
i.sm-flag.eritrea:before {
  background-position: 0px -1716px;
}
i.sm-flag.es:before,
i.sm-flag.spain:before {
  background-position: 0px -1742px;
}
i.sm-flag.et:before,
i.sm-flag.ethiopia:before {
  background-position: 0px -1768px;
}
i.sm-flag.eu:before,
i.sm-flag.european.union:before {
  background-position: 0px -1794px;
}
i.sm-flag.fi:before,
i.sm-flag.finland:before {
  background-position: 0px -1846px;
}
i.sm-flag.fj:before,
i.sm-flag.fiji:before {
  background-position: 0px -1872px;
}
i.sm-flag.fk:before,
i.sm-flag.falkland.islands:before {
  background-position: 0px -1898px;
}
i.sm-flag.fm:before,
i.sm-flag.micronesia:before {
  background-position: 0px -1924px;
}
i.sm-flag.fo:before,
i.sm-flag.faroe.islands:before {
  background-position: 0px -1950px;
}
i.sm-flag.fr:before,
i.sm-flag.france:before {
  background-position: 0px -1976px;
}
i.sm-flag.ga:before,
i.sm-flag.gabon:before {
  background-position: -36px 0px;
}
i.sm-flag.gb:before,
i.sm-flag.england:before,
i.sm-flag.united.kingdom:before {
  background-position: -36px -26px;
}
i.sm-flag.gd:before,
i.sm-flag.grenada:before {
  background-position: -36px -52px;
}
i.sm-flag.ge:before,
i.sm-flag.georgia:before {
  background-position: -36px -78px;
}
i.sm-flag.gf:before,
i.sm-flag.french.guiana:before {
  background-position: -36px -104px;
}
i.sm-flag.gh:before,
i.sm-flag.ghana:before {
  background-position: -36px -130px;
}
i.sm-flag.gi:before,
i.sm-flag.gibraltar:before {
  background-position: -36px -156px;
}
i.sm-flag.gl:before,
i.sm-flag.greenland:before {
  background-position: -36px -182px;
}
i.sm-flag.gm:before,
i.sm-flag.gambia:before {
  background-position: -36px -208px;
}
i.sm-flag.gn:before,
i.sm-flag.guinea:before {
  background-position: -36px -234px;
}
i.sm-flag.gp:before,
i.sm-flag.guadeloupe:before {
  background-position: -36px -260px;
}
i.sm-flag.gq:before,
i.sm-flag.equatorial.guinea:before {
  background-position: -36px -286px;
}
i.sm-flag.gr:before,
i.sm-flag.greece:before {
  background-position: -36px -312px;
}
i.sm-flag.gs:before,
i.sm-flag.sandwich.islands:before {
  background-position: -36px -338px;
}
i.sm-flag.gt:before,
i.sm-flag.guatemala:before {
  background-position: -36px -364px;
}
i.sm-flag.gu:before,
i.sm-flag.guam:before {
  background-position: -36px -390px;
}
i.sm-flag.gw:before,
i.sm-flag.guinea-bissau:before {
  background-position: -36px -416px;
}
i.sm-flag.gy:before,
i.sm-flag.guyana:before {
  background-position: -36px -442px;
}
i.sm-flag.hk:before,
i.sm-flag.hong.kong:before {
  background-position: -36px -468px;
}
i.sm-flag.hm:before,
i.sm-flag.heard.island:before {
  background-position: -36px -494px;
}
i.sm-flag.hn:before,
i.sm-flag.honduras:before {
  background-position: -36px -520px;
}
i.sm-flag.hr:before,
i.sm-flag.croatia:before {
  background-position: -36px -546px;
}
i.sm-flag.ht:before,
i.sm-flag.haiti:before {
  background-position: -36px -572px;
}
i.sm-flag.hu:before,
i.sm-flag.hungary:before {
  background-position: -36px -598px;
}
i.sm-flag.id:before,
i.sm-flag.indonesia:before {
  background-position: -36px -624px;
}
i.sm-flag.ie:before,
i.sm-flag.ireland:before {
  background-position: -36px -650px;
}
i.sm-flag.il:before,
i.sm-flag.israel:before {
  background-position: -36px -676px;
}
i.sm-flag.in:before,
i.sm-flag.india:before {
  background-position: -36px -702px;
}
i.sm-flag.io:before,
i.sm-flag.indian.ocean.territory:before {
  background-position: -36px -728px;
}
i.sm-flag.iq:before,
i.sm-flag.iraq:before {
  background-position: -36px -754px;
}
i.sm-flag.ir:before,
i.sm-flag.iran:before {
  background-position: -36px -780px;
}
i.sm-flag.is:before,
i.sm-flag.iceland:before {
  background-position: -36px -806px;
}
i.sm-flag.it:before,
i.sm-flag.italy:before {
  background-position: -36px -832px;
}
i.sm-flag.jm:before,
i.sm-flag.jamaica:before {
  background-position: -36px -858px;
}
i.sm-flag.jo:before,
i.sm-flag.jordan:before {
  background-position: -36px -884px;
}
i.sm-flag.jp:before,
i.sm-flag.japan:before {
  background-position: -36px -910px;
}
i.sm-flag.ke:before,
i.sm-flag.kenya:before {
  background-position: -36px -936px;
}
i.sm-flag.kg:before,
i.sm-flag.kyrgyzstan:before {
  background-position: -36px -962px;
}
i.sm-flag.kh:before,
i.sm-flag.cambodia:before {
  background-position: -36px -988px;
}
i.sm-flag.ki:before,
i.sm-flag.kiribati:before {
  background-position: -36px -1014px;
}
i.sm-flag.km:before,
i.sm-flag.comoros:before {
  background-position: -36px -1040px;
}
i.sm-flag.kn:before,
i.sm-flag.saint.kitts.and.nevis:before {
  background-position: -36px -1066px;
}
i.sm-flag.kp:before,
i.sm-flag.north.korea:before {
  background-position: -36px -1092px;
}
i.sm-flag.kr:before,
i.sm-flag.south.korea:before {
  background-position: -36px -1118px;
}
i.sm-flag.kw:before,
i.sm-flag.kuwait:before {
  background-position: -36px -1144px;
}
i.sm-flag.ky:before,
i.sm-flag.cayman.islands:before {
  background-position: -36px -1170px;
}
i.sm-flag.kz:before,
i.sm-flag.kazakhstan:before {
  background-position: -36px -1196px;
}
i.sm-flag.la:before,
i.sm-flag.laos:before {
  background-position: -36px -1222px;
}
i.sm-flag.lb:before,
i.sm-flag.lebanon:before {
  background-position: -36px -1248px;
}
i.sm-flag.lc:before,
i.sm-flag.saint.lucia:before {
  background-position: -36px -1274px;
}
i.sm-flag.li:before,
i.sm-flag.liechtenstein:before {
  background-position: -36px -1300px;
}
i.sm-flag.lk:before,
i.sm-flag.sri.lanka:before {
  background-position: -36px -1326px;
}
i.sm-flag.lr:before,
i.sm-flag.liberia:before {
  background-position: -36px -1352px;
}
i.sm-flag.ls:before,
i.sm-flag.lesotho:before {
  background-position: -36px -1378px;
}
i.sm-flag.lt:before,
i.sm-flag.lithuania:before {
  background-position: -36px -1404px;
}
i.sm-flag.lu:before,
i.sm-flag.luxembourg:before {
  background-position: -36px -1430px;
}
i.sm-flag.lv:before,
i.sm-flag.latvia:before {
  background-position: -36px -1456px;
}
i.sm-flag.ly:before,
i.sm-flag.libya:before {
  background-position: -36px -1482px;
}
i.sm-flag.ma:before,
i.sm-flag.morocco:before {
  background-position: -36px -1508px;
}
i.sm-flag.mc:before,
i.sm-flag.monaco:before {
  background-position: -36px -1534px;
}
i.sm-flag.md:before,
i.sm-flag.moldova:before {
  background-position: -36px -1560px;
}
i.sm-flag.me:before,
i.sm-flag.montenegro:before {
  background-position: -36px -1586px;
}
i.sm-flag.mg:before,
i.sm-flag.madagascar:before {
  background-position: -36px -1613px;
}
i.sm-flag.mh:before,
i.sm-flag.marshall.islands:before {
  background-position: -36px -1639px;
}
i.sm-flag.mk:before,
i.sm-flag.macedonia:before {
  background-position: -36px -1665px;
}
i.sm-flag.ml:before,
i.sm-flag.mali:before {
  background-position: -36px -1691px;
}
i.sm-flag.mm:before,
i.sm-flag.myanmar:before,
i.sm-flag.burma:before {
  background-position: -36px -1717px;
}
i.sm-flag.mn:before,
i.sm-flag.mongolia:before {
  background-position: -36px -1743px;
}
i.sm-flag.mo:before,
i.sm-flag.macau:before {
  background-position: -36px -1769px;
}
i.sm-flag.mp:before,
i.sm-flag.northern.mariana.islands:before {
  background-position: -36px -1795px;
}
i.sm-flag.mq:before,
i.sm-flag.martinique:before {
  background-position: -36px -1821px;
}
i.sm-flag.mr:before,
i.sm-flag.mauritania:before {
  background-position: -36px -1847px;
}
i.sm-flag.ms:before,
i.sm-flag.montserrat:before {
  background-position: -36px -1873px;
}
i.sm-flag.mt:before,
i.sm-flag.malta:before {
  background-position: -36px -1899px;
}
i.sm-flag.mu:before,
i.sm-flag.mauritius:before {
  background-position: -36px -1925px;
}
i.sm-flag.mv:before,
i.sm-flag.maldives:before {
  background-position: -36px -1951px;
}
i.sm-flag.mw:before,
i.sm-flag.malawi:before {
  background-position: -36px -1977px;
}
i.sm-flag.mx:before,
i.sm-flag.mexico:before {
  background-position: -72px 0px;
}
i.sm-flag.my:before,
i.sm-flag.malaysia:before {
  background-position: -72px -26px;
}
i.sm-flag.mz:before,
i.sm-flag.mozambique:before {
  background-position: -72px -52px;
}
i.sm-flag.na:before,
i.sm-flag.namibia:before {
  background-position: -72px -78px;
}
i.sm-flag.nc:before,
i.sm-flag.new.caledonia:before {
  background-position: -72px -104px;
}
i.sm-flag.ne:before,
i.sm-flag.niger:before {
  background-position: -72px -130px;
}
i.sm-flag.nf:before,
i.sm-flag.norfolk.island:before {
  background-position: -72px -156px;
}
i.sm-flag.ng:before,
i.sm-flag.nigeria:before {
  background-position: -72px -182px;
}
i.sm-flag.ni:before,
i.sm-flag.nicaragua:before {
  background-position: -72px -208px;
}
i.sm-flag.nl:before,
i.sm-flag.netherlands:before {
  background-position: -72px -234px;
}
i.sm-flag.no:before,
i.sm-flag.norway:before {
  background-position: -72px -260px;
}
i.sm-flag.np:before,
i.sm-flag.nepal:before {
  background-position: -72px -286px;
}
i.sm-flag.nr:before,
i.sm-flag.nauru:before {
  background-position: -72px -312px;
}
i.sm-flag.nu:before,
i.sm-flag.niue:before {
  background-position: -72px -338px;
}
i.sm-flag.nz:before,
i.sm-flag.new.zealand:before {
  background-position: -72px -364px;
}
i.sm-flag.om:before,
i.sm-flag.oman:before {
  background-position: -72px -390px;
}
i.sm-flag.pa:before,
i.sm-flag.panama:before {
  background-position: -72px -416px;
}
i.sm-flag.pe:before,
i.sm-flag.peru:before {
  background-position: -72px -442px;
}
i.sm-flag.pf:before,
i.sm-flag.french.polynesia:before {
  background-position: -72px -468px;
}
i.sm-flag.pg:before,
i.sm-flag.new.guinea:before {
  background-position: -72px -494px;
}
i.sm-flag.ph:before,
i.sm-flag.philippines:before {
  background-position: -72px -520px;
}
i.sm-flag.pk:before,
i.sm-flag.pakistan:before {
  background-position: -72px -546px;
}
i.sm-flag.pl:before,
i.sm-flag.poland:before {
  background-position: -72px -572px;
}
i.sm-flag.pm:before,
i.sm-flag.saint.pierre:before {
  background-position: -72px -598px;
}
i.sm-flag.pn:before,
i.sm-flag.pitcairn.islands:before {
  background-position: -72px -624px;
}
i.sm-flag.pr:before,
i.sm-flag.puerto.rico:before {
  background-position: -72px -650px;
}
i.sm-flag.ps:before,
i.sm-flag.palestine:before {
  background-position: -72px -676px;
}
i.sm-flag.pt:before,
i.sm-flag.portugal:before {
  background-position: -72px -702px;
}
i.sm-flag.pw:before,
i.sm-flag.palau:before {
  background-position: -72px -728px;
}
i.sm-flag.py:before,
i.sm-flag.paraguay:before {
  background-position: -72px -754px;
}
i.sm-flag.qa:before,
i.sm-flag.qatar:before {
  background-position: -72px -780px;
}
i.sm-flag.re:before,
i.sm-flag.reunion:before {
  background-position: -72px -806px;
}
i.sm-flag.ro:before,
i.sm-flag.romania:before {
  background-position: -72px -832px;
}
i.sm-flag.rs:before,
i.sm-flag.serbia:before {
  background-position: -72px -858px;
}
i.sm-flag.ru:before,
i.sm-flag.russia:before {
  background-position: -72px -884px;
}
i.sm-flag.rw:before,
i.sm-flag.rwanda:before {
  background-position: -72px -910px;
}
i.sm-flag.sa:before,
i.sm-flag.saudi.arabia:before {
  background-position: -72px -936px;
}
i.sm-flag.sb:before,
i.sm-flag.solomon.islands:before {
  background-position: -72px -962px;
}
i.sm-flag.sc:before,
i.sm-flag.seychelles:before {
  background-position: -72px -988px;
}
i.sm-flag.sd:before,
i.sm-flag.sudan:before {
  background-position: -72px -1040px;
}
i.sm-flag.se:before,
i.sm-flag.sweden:before {
  background-position: -72px -1066px;
}
i.sm-flag.sg:before,
i.sm-flag.singapore:before {
  background-position: -72px -1092px;
}
i.sm-flag.sh:before,
i.sm-flag.saint.helena:before {
  background-position: -72px -1118px;
}
i.sm-flag.si:before,
i.sm-flag.slovenia:before {
  background-position: -72px -1144px;
}
i.sm-flag.sj:before,
i.sm-flag.svalbard:before,
i.sm-flag.jan.mayen:before {
  background-position: -72px -1170px;
}
i.sm-flag.sk:before,
i.sm-flag.slovakia:before {
  background-position: -72px -1196px;
}
i.sm-flag.sl:before,
i.sm-flag.sierra.leone:before {
  background-position: -72px -1222px;
}
i.sm-flag.sm:before,
i.sm-flag.san.marino:before {
  background-position: -72px -1248px;
}
i.sm-flag.sn:before,
i.sm-flag.senegal:before {
  background-position: -72px -1274px;
}
i.sm-flag.so:before,
i.sm-flag.somalia:before {
  background-position: -72px -1300px;
}
i.sm-flag.sr:before,
i.sm-flag.suriname:before {
  background-position: -72px -1326px;
}
i.sm-flag.st:before,
i.sm-flag.sao.tome:before {
  background-position: -72px -1352px;
}
i.sm-flag.sv:before,
i.sm-flag.el.salvador:before {
  background-position: -72px -1378px;
}
i.sm-flag.sy:before,
i.sm-flag.syria:before {
  background-position: -72px -1404px;
}
i.sm-flag.sz:before,
i.sm-flag.swaziland:before {
  background-position: -72px -1430px;
}
i.sm-flag.tc:before,
i.sm-flag.caicos.islands:before {
  background-position: -72px -1456px;
}
i.sm-flag.td:before,
i.sm-flag.chad:before {
  background-position: -72px -1482px;
}
i.sm-flag.tf:before,
i.sm-flag.french.territories:before {
  background-position: -72px -1508px;
}
i.sm-flag.tg:before,
i.sm-flag.togo:before {
  background-position: -72px -1534px;
}
i.sm-flag.th:before,
i.sm-flag.thailand:before {
  background-position: -72px -1560px;
}
i.sm-flag.tj:before,
i.sm-flag.tajikistan:before {
  background-position: -72px -1586px;
}
i.sm-flag.tk:before,
i.sm-flag.tokelau:before {
  background-position: -72px -1612px;
}
i.sm-flag.tl:before,
i.sm-flag.timorleste:before {
  background-position: -72px -1638px;
}
i.sm-flag.tm:before,
i.sm-flag.turkmenistan:before {
  background-position: -72px -1664px;
}
i.sm-flag.tn:before,
i.sm-flag.tunisia:before {
  background-position: -72px -1690px;
}
i.sm-flag.to:before,
i.sm-flag.tonga:before {
  background-position: -72px -1716px;
}
i.sm-flag.tr:before,
i.sm-flag.turkey:before {
  background-position: -72px -1742px;
}
i.sm-flag.tt:before,
i.sm-flag.trinidad:before {
  background-position: -72px -1768px;
}
i.sm-flag.tv:before,
i.sm-flag.tuvalu:before {
  background-position: -72px -1794px;
}
i.sm-flag.tw:before,
i.sm-flag.taiwan:before {
  background-position: -72px -1820px;
}
i.sm-flag.tz:before,
i.sm-flag.tanzania:before {
  background-position: -72px -1846px;
}
i.sm-flag.ua:before,
i.sm-flag.ukraine:before {
  background-position: -72px -1872px;
}
i.sm-flag.ug:before,
i.sm-flag.uganda:before {
  background-position: -72px -1898px;
}
i.sm-flag.um:before,
i.sm-flag.us.minor.islands:before {
  background-position: -72px -1924px;
}
i.sm-flag.us:before,
i.sm-flag.america:before,
i.sm-flag.united.states:before {
  background-position: -72px -1950px;
}
i.sm-flag.uy:before,
i.sm-flag.uruguay:before {
  background-position: -72px -1976px;
}
i.sm-flag.uz:before,
i.sm-flag.uzbekistan:before {
  background-position: -108px 0px;
}
i.sm-flag.va:before,
i.sm-flag.vatican.city:before {
  background-position: -108px -26px;
}
i.sm-flag.vc:before,
i.sm-flag.saint.vincent:before {
  background-position: -108px -52px;
}
i.sm-flag.ve:before,
i.sm-flag.venezuela:before {
  background-position: -108px -78px;
}
i.sm-flag.vg:before,
i.sm-flag.british.virgin.islands:before {
  background-position: -108px -104px;
}
i.sm-flag.vi:before,
i.sm-flag.us.virgin.islands:before {
  background-position: -108px -130px;
}
i.sm-flag.vn:before,
i.sm-flag.vietnam:before {
  background-position: -108px -156px;
}
i.sm-flag.vu:before,
i.sm-flag.vanuatu:before {
  background-position: -108px -182px;
}
i.sm-flag.wf:before,
i.sm-flag.wallis.and.futuna:before {
  background-position: -108px -234px;
}
i.sm-flag.ws:before,
i.sm-flag.samoa:before {
  background-position: -108px -260px;
}
i.sm-flag.ye:before,
i.sm-flag.yemen:before {
  background-position: -108px -286px;
}
i.sm-flag.yt:before,
i.sm-flag.mayotte:before {
  background-position: -108px -312px;
}
i.sm-flag.za:before,
i.sm-flag.south.africa:before {
  background-position: -108px -338px;
}
i.sm-flag.zm:before,
i.sm-flag.zambia:before {
  background-position: -108px -364px;
}
i.sm-flag.zw:before,
i.sm-flag.zimbabwe:before {
  background-position: -108px -390px;
} 
