/*structure*/
html * {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background: #f0f0f0;
}

.wrapper {
    max-width: 1170px;
    margin: 15px auto 0 auto;
    padding: 15px 15px 0 15px;
    background: white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.header {
    flex: 0 0 100%;
}

.main {
    /* width:70%; */
    /* overflow: hidden; */
    /* float: left; */
    padding-top: 15px;
    flex: 0 0 70%;
}

.sidebar {
    /* margin-top: 20px; */
    flex: 0 0 30%;
     overflow: hidden; 
    /* float: right; */
}

.sidebar .pic {
    width: 100%;
}

.sidebar .pic img {
    width: 100%;
    display: block;
}

.footer {
    background: darkgrey;
    padding: 0;
    margin: 0;
    flex: 0 0 100%;
}

.footer p {
}

.clear {
    clear: both;
}

.logo {
    margin: 0 auto;
    max-width: 400px;
    padding: 15px 0;
    text-align: center;
}

.logo img {
    display: inline-block;
    height: auto;
}

.menu {
    list-style: none;
    text-indent: none;
    margin: 0;
    padding: 0;
    background: black;
}

.menu li {
    display: inline-block;
}

.menu li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px 14px;
}

.menu li a:hover {
    color: black;
    background: white;
}

/* post */
.post {
    position: relative;
    width: 100%;
    padding: 0 30px;
    text-align: justify;
    position: relative;
}

.title {
    font-weight: bold;
    font-size: 28px;
}

.meta {
    font-style: italic;
    font-size: 16px;
    padding-top: 10px;
}

.content {
    width: 100%;
}

.content p {
    line-height: 24px;
}

/*.content img {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 15px 0;
  width: 100%;
  max-width: 100%;
  height: auto;
  border-bottom:8px solid red;
}*/
.featured-image {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 15px 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-bottom: 8px solid #3f9adb ;
}

.content-image-right {
    width: 50%;
    border-bottom: 8px solid #3f9adb;
    margin: 5px 0px 5px 23px;
}

.content-image-left {
    width: 50%;
    border-bottom: 8px solid #3f9adb;
    margin: 5px 20px 5px 0px;
}

.content-video {
    margin-right: 20px;
    border-bottom: 8px solid #3f9adb;
}

.content .caption {
    position: relative;
    background: rgba(0,0,0,0.85);
    color: white;
    padding: 10px;
    width: auto;
    margin-top: -85px;
    margin-bottom: 65px;
    z-index: 1;
}

.quote {
    font-weight: bold;
    color: #666;
    font-size: 22px;
    padding: 25px;
    margin: 25px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-style: italic;
    text-align: left;
}

.sfina {
    background: black;
    color: white;
    padding: 25px;
    border-bottom: 6px solid red;
    text-align: center;
    font-size: 20px;
    margin: 35px 25px;
}

.swiper-container {
    max-width: 700px;
    height: 420px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
}

.swiper-button-next, .swiper-button-prev {
    -webkit-filter: hue-rotate(340deg) saturate(0);
    filter: hue-rotate(340deg) saturate(0);
}

.ticker {
    width: 100%;
    background: #444;
    float: left;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    height: 45px;
    position: relative;
    cursor: pointer;
}

.marquee-sibling {
    padding: 0;
    background: #dd0000;
    width: 80px;
    height: 45px;
    line-height: 42px;
    font-size: 24px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    float: left;
    left: 0;
    z-index: 2000;
}

.marquee, *[class^="marquee"] {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
}

.marquee {
    margin-left: 25%;
}

.marquee-content-items {
    display: inline-block;
    padding: 5px;
    margin: 0;
    list-style: none;
    height: 45px;
    position: relative;
}

.ticker li {
    display: inline-block!important;
    line-height: 45px;
    padding-right: 10px;
    color: #fff;
    font-weight: bold;
}

.marquee-content-items li:after {
    content: "|";
    margin: 0 1em;
}

.tr-down {
    color: #ed1b23;
}

.tr-up {
    color: #0fac16;
}

.block {
    padding-bottom: 25px;
}

.block a {
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.block a:hover {
    text-decoration: underline;
}

#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cssmenu:after, #cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#cssmenu #menu-button {
    display: none;
}

#cssmenu {
    background: #000;
}

#cssmenu > ul > li {
    float: left;
}

#cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
}

#cssmenu.align-center > ul > li {
    display: inline-block;
    float: none;
}

#cssmenu.align-center ul ul {
    text-align: left;
}

#cssmenu.align-right > ul > li {
    float: right;
}

#cssmenu > ul > li > a {
    padding: 17px 14px;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

#cssmenu > ul > li:hover > a {
    color: #000;
}

#cssmenu > ul > li:hover {
    background: #fff;
}

#cssmenu > ul > li.has-sub > a {
    padding-right: 30px;
}

#cssmenu > ul > li.has-sub > a:after {
    position: absolute;
    top: 22px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
}

#cssmenu > ul > li.has-sub > a:before {
    position: absolute;
    top: 19px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

#cssmenu > ul > li.has-sub:hover > a:before {
    top: 23px;
    height: 0;
}

#cssmenu ul ul {
    position: absolute;
    left: -9999px;
}

#cssmenu.align-right ul ul {
    text-align: right;
}

#cssmenu ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

#cssmenu li:hover > ul {
    left: auto;
}

#cssmenu.align-right li:hover > ul {
    left: auto;
    right: 0;
}

#cssmenu li:hover > ul > li {
    height: 35px;
}

#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
}

#cssmenu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
}

#cssmenu ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 11px 15px;
    width: 170px;
    font-size: 12px;
    text-decoration: none;
    color: #dddddd;
    font-weight: 400;
    background: #333333;
}

#cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last-item > a {
    border-bottom: 0;
}

#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
    color: #ffffff;
}

#cssmenu ul ul li.has-sub > a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
}

#cssmenu.align-right ul ul li.has-sub > a:after {
    right: auto;
    left: 11px;
}

#cssmenu ul ul li.has-sub > a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

#cssmenu.align-right ul ul li.has-sub > a:before {
    right: auto;
    left: 14px;
}

#cssmenu ul ul > li.has-sub:hover > a:before {
    top: 17px;
    height: 0;
}

.sidebar #beta h1 {
    color : #3f9adb;
    padding: 10px 0px 0px 91px;
    line-height: 100%;
    background-image: url(images/icon_clock.png);
    background-position: 0px 50%;
    background-repeat: no-repeat;
}

.sign-up .sign-up-form-wrapper {
    padding: 20px;
    max-width: none;
    width: 100%;
    border-top: none;
    background-color: white;
    box-shadow: none;
    overflow-y: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    box-shadow: 7px 1px 1px 1px rgba(0,0,0,0.8);
}

@media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    #cssmenu {
        width: 100%;
    }

    #cssmenu ul {
        width: 100%;
        display: none;
    }

    #cssmenu.align-center > ul {
        text-align: left;
    }

    #cssmenu ul li {
        width: 100%;
        border-top: 1px solid rgba(120, 120, 120, 0.2);
    }

    #cssmenu ul ul li, #cssmenu li:hover > ul > li {
        height: auto;
    }

    #cssmenu ul li a, #cssmenu ul ul li a {
        width: 100%;
        border-bottom: 0;
    }

    #cssmenu > ul > li {
        float: none;
    }

    #cssmenu ul ul li a {
        padding-left: 25px;
    }

    #cssmenu ul ul ul li a {
        padding-left: 35px;
    }

    #cssmenu ul ul li a {
        color: #dddddd;
        background: none;
    }

    #cssmenu ul ul li:hover > a, #cssmenu ul ul li.active > a {
        color: #ffffff;
    }

    #cssmenu ul ul, #cssmenu ul ul ul, #cssmenu.align-right ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left;
    }

    #cssmenu > ul > li.has-sub > a:after, #cssmenu > ul > li.has-sub > a:before, #cssmenu ul ul > li.has-sub > a:after, #cssmenu ul ul > li.has-sub > a:before {
        display: none;
    }

    #cssmenu #menu-button {
        display: block;
        padding: 17px;
        color: #dddddd;
        cursor: pointer;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
    }

    #cssmenu #menu-button:after {
        position: absolute;
        top: 22px;
        right: 17px;
        display: block;
        height: 4px;
        width: 20px;
        border-top: 2px solid #dddddd;
        border-bottom: 2px solid #dddddd;
        content: '';
    }

    #cssmenu #menu-button:before {
        position: absolute;
        top: 16px;
        right: 17px;
        display: block;
        height: 2px;
        width: 20px;
        background: #dddddd;
        content: '';
    }

    #cssmenu #menu-button.menu-opened:after {
        top: 23px;
        border: 0;
        height: 2px;
        width: 15px;
        background: #ffffff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #cssmenu #menu-button.menu-opened:before {
        top: 23px;
        background: #ffffff;
        width: 15px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    #cssmenu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid rgba(120, 120, 120, 0.2);
        height: 46px;
        width: 46px;
        cursor: pointer;
    }

    #cssmenu .submenu-button.submenu-opened {
        background: #262626;
    }

    #cssmenu ul ul .submenu-button {
        height: 34px;
        width: 34px;
    }

    #cssmenu .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #dddddd;
        content: '';
    }

    #cssmenu ul ul .submenu-button:after {
        top: 15px;
        right: 13px;
    }

    #cssmenu .submenu-button.submenu-opened:after {
        background: #ffffff;
    }

    #cssmenu .submenu-button:before {
        position: absolute;
        top: 19px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #dddddd;
        content: '';
    }

    #cssmenu ul ul .submenu-button:before {
        top: 12px;
        right: 16px;
    }

    #cssmenu .submenu-button.submenu-opened:before {
        display: none;
    }
}

.sfina a {
    width: 100%;
    display: inline-block;
    color: white;
    font-weight: bold;
}

.disc {
    font-size: 11px;
    padding: 10px;
}

.footmenu {
    background: #444;
    padding: 10px;
    text-align: center;
}

.footmenu a {
    color: white;
    display: inline-block;
    width: auto;
    padding-right: 15px;
    text-align: center;
}

.mmenu {
    display: none;
    position: fixed;
    top: -80px;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(0,0,0,0.85);
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    z-index: 100;
    opacity: 0;
    transition: all 0.3s ease;
    color: white;
    text-align: center;
    padding: 10px;
}

.mmenu.open {
    top: 0px;
    opacity: 1;
    z-index: 2001;
}

.mmenu p {
    float: left;
    text-align: left;
    width: 180px;
    font-size: 12px;
}

.mmenu a {
    color: white;
    background: red;
    padding: 8px;
    display: block;
    position: absolute;
    right: 10px;
    top: 22px;
    text-decoration: none;
    font-weight: bold;
}

@media all and (max-width: 800px) {
    .main, .sidebar {
        flex: 0 0 100%;
    }

 
}

@media all and (max-width: 530px) {
    .title {
        font-size: 27px;
    }

    .meta {
        font-size: 12px;
    }
}

@media all and (max-width: 480px) {
    .content iframe {
        width: 100%;

    }
    .maintext-1,
    .maintext-2,
    .content-image-left,
    .content-image-right,
    .maintext-3,
    .maintext-4 {
        width: 100%!important;
        float:none!important;
        display: block;
        margin: 0px!important;
    }

    .mmenu {
        display: block;
    }

    .wrapper {
        margin-top: 0px;
    }

    .content p {
        padding: 0 0;
    }

    .sfina {
        margin: 10px 0;
    }

 

    .title, .meta {
        padding: 0;
    }

    .quote {
        font-size: 20px;
    }

    .swiper-container {
        height: 300px;
    }

    .swiper-button-next, .swiper-button-prev {
        top: 80px!important;
    }

    .article {
        width: 50%!important;
    }
}

.related {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-bottom: 15px;
}

.related .article {
    width: 180px;
    float: left;
    padding-right: 15px;
    font-size: 12px;
    text-align: left;
}

.related h3 {
    line-height: 30px;
    font-size: 24px;
    padding: 10px 0;
    display: inline-block;
    border-bottom: 2px solid #888;
    width: 100%;
}

.greyblock h3 i {
    color: #3f9adb;
}

.related img {
    border: none;
    margin: 0;
}

.related a {
    color: black;
    text-decoration: none;
}

.related a:hover {
    text-decoration: underline;
}

.comments {
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

.comment {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.comment .user img {
    display: block;
}

.comment .user {
    margin-right: 10px;
    display: inline-block;
    border: 1px solid #999;
    float: left;
}

.comment .commentbody {
    display: inline-block float: left;
}

.comment .name {
    margin: 0;
    font-size: 12px;
}

.comment .message {
    margin: 0;
}

.greyblock {
    box-sizing: border-box;
    padding: 30px;
    background: rgb(240,240,240);
    border-top: 2px solid #ddd;
}

.greytitle {
    font-size: 32px;
    padding: 10px 0 20px 0px;
    display: block;
    position: relative;
    border-bottom: 2px dashed #bbb;
}

img.results {
    margin: 0 auto 25px auto!important;
    display: block;
    width: auto;
}

h3 {
    padding-top: 15px;
}

.greyblock h3 {
    color: #444444;
    display: block;
    padding: 5px 4px 8px 3px;
    font-size: 21px;
    border-bottom: 2px solid #444444;
    margin-bottom: 0px;
}

.signature {
    max-width: 450px!important;
    display: block;
    border-bottom: 3px solid red!important;
}

.sfina a {
    display: inline;
}

.commentspanel {
    font-size: 12px;
    color: rgb(71,71,71);
    box-sizing: border-box;
    padding: 15px;
}

.commentspanel input {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid rgb(150,150,150);
}

.commentspanel textarea {
    height: 98px;
    width: 100%;
    border: 1px solid rgb(150,150,150);
}

.image-container {
    position: relative;
}

.maintext {
    display: inline-block;
    width: 100%;
    background: rgba(0,0,0,0.1);
    box-sizing: border-box;
    padding: 8px 10px;
    transform: translateY(-20px)
}

.maintext-2 {
    display: inline-block;
    width: 50%;
    float: left;
    background: rgba(0,0,0,0.1);
    padding: 8px 10px;
    margin-right: 20px;
}

.maintext-3 {
    display: inline-block;
    width: 50%;
    float: left;
    background: rgba(0,0,0,0.1);
    padding: 8px 10px;
    margin-right: 20px;
    margin-top: -10px;
}

.maintext-4 {
    display: inline-block;
    width: 50%;
    float: right;
    background: rgba(0,0,0,0.1);
    padding: 8px 10px;
    margin-top: -30px;
}

.mb_10 {
    margin-bottom: 10px;
}

.mb_30 {
    margin-bottom: 30px;
}

.sideBanner {
    text-align: center;
    margin-top: 20px;
    background: #eee;
    padding: 20px;
}

.sideBanner-2 {
    text-align: left;
    margin-top: 20px;
    background: #eee;
    padding: 20px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.copy {
    text-align: center;
    padding: 10px;
}
@media all and (max-width: 414px) {
    .post {
        padding: 0;
    }

    .title {
        font-size: 24px;
        text-align: left;
        line-height: 25px;
    }

    .meta {
        font-size: 15px;
        padding-top: 0px;
    }

    .greytitle {
        font-size: 22px;
    }
    .footmenu {
        text-align: center;
    }
    .footmenu a {
        color: white;
        display: inline-block;
        text-decoration: none;
        width: auto;
        padding-right: 10px;
        text-align: center;
    }
}

@media all and (max-width: 375px) {
    .title {
        font-size: 22px;
    }
}

@media all and (max-width: 320px) {
    .title {
        font-size: 19px;
    }

    .greytitle {
        font-size: 17px;
    }
}
 
